g {
    /*Hide all group elements by default to prevent content flashing*/
    visibility: hidden;
    overflow: hidden;
}

/* Set Up css FROM the inline SVG files. This allows us to futz with them with both CSS and js*/

#CenterTri path {
    fill:none;
    stroke:#eafaea;
    stroke-width:20px;
    stroke-linecap:butt;
    stroke-miterlimit:3.11047;
}
