@media screen and (min-width: 1101px), print {

body.show {
    grid-template-areas: 
    "Logo Title   Title"
    "Logo Content Content"
    ".    Content Content";

    grid-template-rows: max-content auto 33%;
    grid-template-columns: 18% auto auto;
}

h1 {
    font-size: 6em;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}

.hiddenDesktop {
    display: none !important;
}

.smallText {
    font-size: 1em;
}

a {
    transition: color .05s;
}

a:link {
    color: var(--acc-1);
}

a:visited {
    color: var(--acc-2);
}

a:hover {
    color: var(--acc-3);
}

a:active {
    color: var(--text-color);
}

a.hideLink {
    color: inherit;
    text-decoration: inherit;
}

#TitleBar {
    grid-area: Title;
}

#TitleName {
    margin-bottom: -.15lh;
}

#Subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.7em;
}


#ContentArea {
    grid-area: Content;
    mask-image: linear-gradient(to bottom, transparent 0%, black 2.5lh, black calc(100% - 2.5lh), transparent 100%);

    height: 600px;
    width: 95%;
    overflow-y: scroll;
    padding-right: 1em;
    padding-top: .5lh;


    display: flex;
    flex-direction: column;
}

.contentSection {
    padding: 1lh 0;
    clear: both;
}

.contentSection h1 {
    font-size: 3em;
}

.contentSection h2 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: .2em;
}

.contentSection img {
    margin-right: 2%;
    width: 28%;
}

.contentSection img.shrinkImage {
    width: 18%;
    margin: 2%;
}

.contentSection p {
    padding: .5lh 0;
    padding-right: 10px;
    margin-top: 0px;
}

.contentSection .leftAligned {
    left: 0;
    float: left;
    text-align: left;
}

.contentSection .rightAligned {
    right: 0;
    float: right;
    text-align: right;
    margin-left: 10px;
}

.contentSection .clearLeft {
    clear: left;
}

.contentSection .clearRight {
    clear: right;
}

#HeaderIMG {
    width: 90%;
    margin-top: 15px;
    margin-left: 5%;
    margin-bottom: 5px;
}


#LogoDropdown {
    grid-area: Logo;
}

#pageOptionsVerticalBar {
    float: left;
    width: .2em;
    height: 18em;
    margin-left: 10%;
    margin-top: 10%;
}

#pageOptions {
    padding-left: 15%;
    padding-top: 2em;
    list-style-type: none;
    font-family: 'Open Sans', 'Roboto', sans-serif;

}

#pageOptions li {
    font-size: 1.8em;
    color: var(--acc-1);
    text-transform: lowercase;
    transition: font-size .3s, font-weight .3s, color .5s;
}   

#pageOptions li input {
    display: none;
}

#pageOptions label {
    font-size: inherit;
    transition: font-size .3s, font-weight .3s, color .5s;
}

#pageOptions .selected, #pageOptions li.selected:hover {
    font-size: 2.7em;
    font-weight: 800;
    color: var(--acc-2);
    text-transform: uppercase;
}

#pageOptions li:hover {
    font-size: 2.4em;
    font-weight: 800;
    color: var(--acc-3);
    text-transform: uppercase;
}

#pageOptions label:active {

    font-size: 1.1em;
    font-weight: 800;
    color: var(--acc-2);
    text-transform: uppercase;
}

.spamProtection {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}



}